<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>

<head>
    <meta content=" charset=utf-8"/>
</head>

<h:body class="login">
    <ui:composition template="masterLayout.xhtml">
        <ui:define name="content">
            <h1>#{msg.title}</h1>
            <h:form styleClass="input-group">
                <h1>#{msg.paymentInformation}</h1>
                <h:panelGrid columns="2" columnClasses="paymentLabel, paymentFiled">
                    #{msg.amount}
                    <h:outputText id="amount" value="#{payment.amount}">
                        <f:convertNumber type="currency"/>
                    </h:outputText>
                    #{msg.creditCard}
                    <h:outputText value="#{payment.card}"/>

                    #{msg.expirationDate}
                    <h:outputText value="#{payment.date}">
                        <f:convertDateTime pattern="MM/yyyy"/>
                    </h:outputText>
                </h:panelGrid>
                <h:commandButton styleClass="btn btn-default" value="#{msg.back}" action="payment"/>

            </h:form>
        </ui:define>
    </ui:composition>
</h:body>


</html>
