<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

<head>
    <meta content=" charset=utf-8"/>
</head>

<h:body class="login">
    <ui:composition template="masterLayout.xhtml">
        <ui:define name="content">
            <h:form styleClass="input-group">
                <h3> Welcome Mr.Bean you are not cheater</h3>
                <h:panelGrid columns="4" columnClasses="column1, column2, column3, column4">
                    <h:commandButton styleClass="btn btn-default" value="Back" action="login"/>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>


</html>
