body {
    background: url("/resources/image/new_york.jpg") no-repeat center center fixed;
    background-size: cover;
}

#headerDiv {
    background-color: #1A9CB0;
    height: 100px;
    border-color: cadetblue;
    border: solid;
    border-width: 0.1em;
    text-align: center;
}

#footerDiv {
    background-color: #1A9CB0;
    height: 100px;
    border-color: cadetblue;
    border: solid;
    border-width: 0.1em;
    text-align: center;
}

#contentDiv {
    background-image: linear-gradient(rgba(204, 204, 204, 0.5), rgba(255, 245, 215, 0.5));
    margin-top: 80px;
    border-color: darkgray;
    border: solid;
    border-width: 0.1em;
    color: #464547;
    padding-left: 20px;
}

.btn-default {
    margin: 10px !important;
}

.content {
    margin-top: 200px;
}

.paymentFiled {
    padding-left: 10px;
    font-weight: 700;
}

.paymentLabel {
    font-weight: 600;
}