<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<head>
    <meta content=" charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="resources/css/jsf.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
</head>

<h:body>
    <div class="container-fluid">
        <div class="navbar-fixed-top">
            <div id="headerDiv">
                <div class="col-md-12">
                    <ui:insert name="heading">
                        <ui:include src="header.xhtml"/>
                    </ui:insert>
                </div>
            </div>
        </div>

        <div class="row content">

            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="contentDiv">
                    <ui:insert name="content"/>
                </div>
            </div>
            <div class="col-md-4"></div>

        </div>
        <div class="navbar-fixed-bottom">
            <div id="footerDiv">
                <div class="col-md-12">
                    <ui:insert name="footer">
                        <ui:include src="footer.xhtml"/>
                    </ui:insert>
                </div>
            </div>
        </div>
    </div>
</h:body>
</html>
