<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>

<head>
    <meta content=" charset=utf-8"/>
</head>

<h:body class="login">
    <ui:composition template="masterLayout.xhtml">
        <ui:define name="content">
            <h:form styleClass="input-group">
                <h3> Please enter your name and password</h3>
                <table>
                    <tr>
                        <td>Amount</td>
                        <td><h:inputText styleClass="form-control value" id="amount" value="#{payment.amount}">
                            <f:convertNumber minFractionDigits="2" integerOnly="true"/>
                            <f:validateDoubleRange minimum="1" maximum="100000"/>
                        </h:inputText></td>
                        <td><h:message style="color:red" for="amount"/></td>
                    </tr>
                    <tr>
                        <td>Credit Card</td>
                        <td><h:inputText id="card" styleClass="form-control" value="#{payment.card}"
                                         converter="com.corejsf.Card" required="true">
                            <f:validator validatorId="CreditCardValidator"/>
                        </h:inputText></td>
                        <td><h:message style="color:red" for="card"/></td>
                    </tr>
                    <tr>
                        <td>Expiration date</td>
                        <td><h:inputText styleClass="form-control" value="#{payment.date}">
                            <f:convertDateTime pattern="MM/yyyy"></f:convertDateTime>
                        </h:inputText></td>
                    </tr>
                </table>
                <h:panelGrid columns="4" columnClasses="column1, column2, column3, column4">
                    <h:commandButton styleClass="btn btn-default" value="Process" action="result?faces-redirect=false"/>


                </h:panelGrid>

            </h:form>
        </ui:define>
    </ui:composition>
</h:body>


</html>
